<div class="col-xs-12">
  <form #myForm='ngForm' (ngSubmit)="submitForm(myForm)">
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
      </div>
    </nav>

    <div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th *ngFor="let title of itemsTitles">{{title}}</th>
            <td><button class="btn btn-primary">Add Category</button></td>
          </tr>
        </thead>
        <tbody *ngFor="let item of localItems">
          <tr>
            <td title="Category">
              <input [ngClass]="{'has-error': Category.invalid}"
                     type="text" class="form-control"
                     name="cat{{item.id}}" #Category = 'ngModel'
                     [(ngModel)] = item.name
                     required

              >
            </td>
            <td colspan="5"></td>
            <td title="Add Item / Remove Category">
              <button class="btn btn-primary">Add Item</button>
              <button class="btn btn-danger">Remove Category</button>
            </td>
          </tr>
          <tr *ngFor="let items of item['items']">
            <td></td>
            <td name="item">
              <input [ngClass]="{'has-error': Item.invalid}"
                #Item = 'ngModel'
                required
                type="text" class="form-control" name="item{{items.id}}" [(ngModel)] = items.name>
            </td>
            <td name="Gl Code">
              <input [ngClass]="{'has-error': glCode.invalid}"
                #glCode = 'ngModel'
                required pattern="^[0-9]+$"
                type="text" class="form-control" name="Gl Code{{items.id}}" [(ngModel)] = items.glCode>
            </td>
            <td name="Amount">
              <input [ngClass]="{'has-error': Amount.invalid}"
                #Amount = 'ngModel'
                required pattern="^[0-9]+$"
                type="text" class="form-control" name="Amount{{items.id}}" [(ngModel)] = items.amount>
            </td>
            <td name="Sales Tex">

            </td>
          </tr>
        </tbody>
        <tfoot>

        </tfoot>
      </table>
    </div>
  </form>
</div>
